nagasena/testdata/elementParticleUnbounded.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="A">
    <xsd:sequence>
      <xsd:element name="B" maxOccurs="unbounded">
        <xsd:complexType/>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="a" />
  </xsd:complexType>

</xsd:schema>
