nagasena/testdata/verySimpleDefault.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="A">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element ref="B"/>
      <xsd:element ref="C"/>
      <xsd:element ref="D"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="B" type="xsd:string"/>
<xsd:element name="C" type="xsd:string"/>
<xsd:element name="D" type="xsd:string"/>

</xsd:schema>
