historical/milinda/testdata/testStates/acceptance_imported_default.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="AB" type="xsd:anySimpleType"/>

<xsd:element name="AC" type="xsd:anySimpleType"/>

<xsd:element name="AD" type="xsd:anySimpleType"/>

<xsd:element name="AE" type="xsd:anySimpleType"/>

</xsd:schema>
