nagasena/testdata/circularSchemaInclude/circularSchemaInclude3_c.xsd

<?xml version="1.0" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:foo" xmlns:foo="urn:foo">

  <include schemaLocation="circularSchemaInclude3_a.xsd"/>

  <group name="gc">
    <sequence>
      <group ref="foo:ga"/>
      <element name="ec"/>
    </sequence>
  </group>

  <complexType name="tc">
    <group ref="foo:gc"/>
  </complexType>

</schema>
