historical/milinda/testdata/ambiguousParticleContext02.xsd

<?xml version="1.0"?>

<xsd:schema targetNamespace="urn:foo"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:foo="urn:foo">

<xsd:element name="Street5" type="xsd:string"/>
<xsd:complexType name="datedAddress5">
  <xsd:sequence minOccurs="0" maxOccurs="5">
    <xsd:choice maxOccurs="7">
      <xsd:element ref="foo:Street5" maxOccurs="unbounded"/>
      <xsd:element name="City5a" type="xsd:string"/>
    </xsd:choice>
    <xsd:element name="Zip5" type="xsd:string" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

</xsd:schema>
