historical/milinda/testdata/chameleonIncluded_01.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:simpleType name="unionedString">
      <xsd:union memberTypes="string10 xsd:NMTOKEN"/>
</xsd:simpleType>

<xsd:simpleType name="string8">
  <xsd:restriction base="string10">
    <xsd:maxLength value="8"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string10">
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="10"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:element name="A" type="string8" />

</xsd:schema>
