fujitsu/testdata/attributesSameUse02a.xsd

<?xml version="1.0"?>

<xsd:schema targetNamespace="urn:foo"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:foo="urn:foo">

<xsd:attribute name="a" />

<xsd:complexType name="base">
  <xsd:simpleContent>
    <xsd:extension base="xsd:string">
      <xsd:anyAttribute namespace="##any" />
    </xsd:extension>
  </xsd:simpleContent>
</xsd:complexType>

<xsd:element name="derived">
  <xsd:complexType>
    <xsd:simpleContent>
      <xsd:restriction base="foo:base">
        <xsd:attribute ref="foo:a"/>
        <xsd:attribute ref="foo:a"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:element>

</xsd:schema>
