fujitsu/testdata/localGlobalAttr.xsd

<?xml version="1.0"?>

<xsd:schema targetNamespace="urn:foo"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:foo="urn:foo">

<xsd:element name="A">
  <xsd:complexType>
    <xsd:attribute name="b" type="xsd:date"/>
  </xsd:complexType>
</xsd:element>

<xsd:attribute name="a" type="xsd:string" />

</xsd:schema>
