historical/milinda/testdata/upa/choiceUPA_OK03.xsd

<?xml version="1.0"?>

<xsd:schema targetNamespace="urn:foo"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:foo="urn:foo">

<xsd:element name="AlGore">
  <xsd:complexType>
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="a"/>
        <xsd:element ref="foo:b"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element ref="foo:a"/>
        <xsd:element ref="foo:c"/>
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>
</xsd:element>

<xsd:element name="a"/>
<xsd:element name="b"/>
<xsd:element name="c"/>

</xsd:schema>
