fujitsu/testdata/circularSchemaInclude/circularSchemaInclude4_a.xsd

<?xml version="1.0" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:foo" xmlns:foo="urn:foo">

  <include schemaLocation="circularSchemaInclude4_b.xsd"/>

  <attributeGroup name="ga">
    <attribute name="aa" type="string"/>
  </attributeGroup>

  <element name="ea" type="foo:tc"/>

</schema>
